:root {
  --space-max: 5%;
  --space-min: 2%;
  --space-btn: 4%;
  --radius: 8px;
  --header-mobile-height: 15vh;
  --header-desktop-height: 15vh;
  /* tamaños fuentes */
  --typo-xs: 16px;
  --typo-sm: 22px;
  --typo-md: clamp(1.75rem, 1.36vi + 1.41rem, 2.5rem);
  --typo-xl: clamp(1.5rem, 1.54vi + 1.12rem, 2.34rem);
  --typo-xxl: 50px;
  --typo-h1-header: clamp(0.88rem, 0.45vi + 0.76rem, 1.13rem);
  /* colores */
  --header-hover: #d9e5e3;
  --btn-general: #ebaa20;
  --btn-especial: #d9017a;
  --items-background: #f7f8f9;
  --primary-color: black;
  --secondary-color: #004d43;
  --envio-color: #51c531;
  --precio-color: #b71c1c;
  --bottom-line: 0.2px solid rgb(140, 140, 140);
  --border-red: 2px solid red;
  --border-blue: 2px solid blue;
  --border-plum: 2px solid plum;
}

/* formateo general de estilos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* borramos viñetas de todas las li */
ul {
  list-style-type: none;
}

/* borramos el subrayado y el dolor de resaltado de todos los anchor */
a {
  text-decoration: none;
  color: var(--primary-color);
}

.ver-ficha,
.añadir,
.nav-bar-secondary,
.librerias,
.login span {
  display: none;
}

body {
  font-size: var(--typo-xs);
  width: 100vw;
  min-height: 100vh;
  background-color: #e9ebef;
}

/*todo mobile first */

header {
  background-color: antiquewhite;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-mobile-height);
  z-index: 1;
  padding: var(--space-min);
}

.nav-bar-first {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  /* justify-items: center; no puedo usarlo porque se me descuadra la segunda fila */
  grid-template-areas:
    'menu logo cuenta cesta'
    'search search search search';
  gap: var(--space-min);
}

.nav-bar-first img {
  width: 2vw;
  min-width: 25px;
}

.ico-menu {
  grid-area: menu;
  justify-self: center;
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
}

.logo {
  grid-area: logo;
  justify-self: start;
  /* grid-column: 2 /3;
  grid-row: 1 / 2; */
  /* width: 70px; */
}

.logo img {
  width: 125px;
}

.barra-busqueda {
  grid-area: search;
  border-top: 1px solid black;
  /* grid-column: 1 /5;
  grid-row: 2 / 3; */
}

.barra-busqueda form {
  display: flex;
  gap: var(--space-min);
  justify-content: space-between;
  padding: var(--space-min);
  margin-top: 0.5%;
  /* display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'input lupa';*/
}

.barra-busqueda form > input {
  /* grid-column: 1 /2;
  grid-row: 1 / 2; */
  /* grid-area: input; */
  flex: 4;
  border: none;
  background-color: antiquewhite;
  /* text-align: center; */
}

.barra-busqueda form > input::placeholder {
  text-align: center;
  font-size: var(--typo-xs);
}

.barra-busqueda form button > img {
  /* grid-column: 2 /3;
  grid-row: 1 / 2; */
  /* grid-area: lupa; */
  flex: 1;
  padding: var(--space-max);
}

.login {
  grid-area: cuenta;
  justify-self: center;
  /* grid-column: 3 /4;
  grid-row: 1 / 2; */
}

.cesta {
  grid-area: cesta;
  justify-self: center;
  /* grid-column: 4 /5;
  grid-row: 1 / 2; */
}

main {
  width: 100%;
  margin-top: calc(
    var(--header-mobile-height) + var(--space-min)
  ); /*espacio para que sea sea visible todo el contenido del main y no quede solapado con el header*/
}

.banner-promo > img {
  width: 100%;
}

.promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: var(--space-max);
  gap: 10px;
}

.promo h2,
p {
  line-height: 1.5;
}

.promo > h2 {
  font-size: var(--typo-md);
}

p {
  font-size: var(--typo-xs);
}

main button {
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding: var(--space-btn);
  background-color: var(--btn-general);
  border-radius: var(--radius);
  border: none;
  display: block;
  margin: var(--space-min) auto 0;
}

article {
  padding: var(--space-max);
}

article > img {
  width: 100%;
}

/* ? banner-news */

.banner-news ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-min);
}

.banner-news a > img {
  width: 100%;
}

.banner-news h2 {
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-family: 'work sans';
  font-weight: 500;
}

.banner-news .btn-especial {
  background-color: var(--btn-especial);
  color: white;
}

section > h2 {
  font-family: 'inter';
  font-weight: 500;
  font-size: var(--typo-md);
  line-height: 1.8;
  letter-spacing: 1.5px;
  margin: 0 var(--space-min);
  border-bottom: var(--bottom-line);
}

/* ? recomendaciones */

.recomendaciones ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-min);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-min);
}

.recomendaciones ul > article {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  /* width: 300px;
  min-width: 300px;
  max-width: 300px; */
  justify-content: space-between;
}

.recomendaciones div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 300px;
  min-width: 300px;
  max-width: 300px */
}

.recomendaciones div > h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

.recomendaciones img {
  justify-content: center;
  align-self: center;
  /* aspect-ratio: 3/4; */
  width: 100%;
  width: 300px;
  /* min-width: 300px;
  max-width: 300px; */
  height: auto;
}

a.search-button-recomendaciones {
  background-color: var(--btn-especial);
  border-radius: var(--radius);
  padding: var(--space-btn);
  color: white;
  margin-top: var(--space-min);
  text-align: center;
  display: block; /*anchor es un elemento inline, por lo tanto, para aplicarle padding y margin, debemos convertirlo a block*/
  letter-spacing: 2px;
}

/* ? best-sellers */

.best-sellers ul,
article {
  display: flex;
  flex-direction: column;
}

.best-sellers article {
  gap: 2px;
  font-family: 'inter';
}

p.tipo-tapa-libro {
  font-size: var(--typo-xs);
  line-height: 2.5;
  border-bottom: var(--bottom-line);
}

h2.titulo-libro {
  font-weight: 550;
  font-size: var(--typo-sm);
  margin-top: var(--space-min);
}

p.autor {
  font-weight: 200;
  font-size: var(--typo-xs);
}

p.precio {
  font-weight: 550;
  font-size: var(--typo-md);
  color: var(--precio-color);
}

p.envio {
  font-weight: 500;
  font-size: var(--typo-xs);
  color: var(--envio-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* ? categorias-destacadas */

.categorias-destacadas ul,
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.categorias-destacadas li > img {
  margin-top: 20px;
}

.categorias-destacadas li > a {
  font-family: 'inter';
  font-size: var(--typo-xs);
  margin-top: var(--space-min);
  color: var(--secondary-color);
}

/*! footer */

/*? social-media */

.social-media ul {
  display: flex;
  gap: var(--space-min);
  justify-content: space-around;
  margin: var(--space-max);
}

.social-media img {
  width: 8vw;
}

/* ? nav */

.footer-nav {
  padding: var(--space-min);
  font-family: 'inter';
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-nav section {
  line-height: 2;
}

.footer-nav section > h3 {
  font-size: var(--typo-md);
  color: var(--secondary-color);
  text-align: center;
}

.footer-nav section > a {
  color: gray;
  font-size: var(--typo-xs);
}

footer > p {
  background-color: black;
  color: white;
  line-height: 2;
  text-align: center;
}

@media (min-width: 900px) {
  .ico-menu {
    display: none;
  }

  .ver-ficha,
  .añadir,
  .nav-bar-secondary,
  .librerias,
  .login span {
    display: block;
  }

  header {
    height: var(--header-desktop-height);
    display: flex;
    flex-direction: column;
    gap: var(--space-max);
    justify-content: center;
    padding: 0 var(--space-max);
  }

  .nav-bar-first {
    /* grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'logo search librerias cuenta cesta'; */
    display: flex;
  }

  .barra-busqueda {
    flex: 2;
    border: var(--bottom-line);
  }

  .barra-busqueda form {
    padding: 0;
  }

  .logo .librerias .login .cesta {
    flex: 1;
  }

  /* 
  si usaramos  grid en el nav-bar-first
  .nav-bar-secondary {
    display: flex;
  }

  .librerias {
    grid-area: librerias;
  } */

  .nav-bar-secondary {
    padding: 10px 0;
  }

  .nav-bar-secondary ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main {
    width: 100%;
    margin-top: calc(
      var(--header-desktop-height) + var(--space-min)
    ); /*espacio para que sea sea visible todo el contenido del main y no quede solapado con el header*/
    padding: 0 var(--space-max);
  }

  /* ? .banner-promo */

  .banner-promo {
    display: flex;
    flex-direction: column;
  }

  .promo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-min);
  }

  .promo > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .promo button {
    width: 15%;
    padding: 15px;
    margin: 0;
  }

  /* ? banner-news */

  .banner-news ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  /* 
  esto es lo mismo que .banner-news * :
  .banner-news ul,
  .banner-news ul li,
  .banner-news ul li > article {
    height: 100%;
  } */

  /* todo para asegurar de que todas las celdas dentro del contenedor .banner-news tengan la misma altura, y que el contenido dentro de ellas se ajuste de manera uniforme */
  .banner-news * {
    height: 100%;
  }

  .banner-news ul li > article {
    display: grid;
    grid-template-rows: 2fr, 1fr, 1fr;
    padding: var(--space-max) 0;
  }

  .banner-news h2,
  .banner-news button {
    padding: var(--space-max);
  }

  /* ! NO SE COMO HACER QUE TODOS LOS BOTONES DENTRO DE .banner-news TENGAN LA MISMA ALTURA. NO SE COMO HACERLO DE FORMA MAS EFICIENTE CON GRID */

  .banner-news img {
    aspect-ratio: 5/3;
    width: 100%;
    object-fit: cover; /* Asegura que la imagen no se deforme */
  }

  .banner-news button {
    width: 100%;
  }

  /* .banner-news ul li:nth-of-type(1) article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  .banner-news ul li:nth-of-type(2) article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  .banner-news ul li:nth-of-type(3) article {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  } */

  /* ? recomendaciones */

  .recomendaciones ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: var(--space-min);
    /* padding: var(--space-min); */
  }

  .recomendaciones img {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }

  .recomendaciones ul li > article {
    flex-direction: row;
    gap: var(--space-max);
    width: 100%; /*para que el contenedor tenga un ancho uniforme para todos los elementos*/
  }

  .recomendaciones article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /*para que el contenedor tenga un ancho uniforme para todos los elementos*/
  }

  .recomendaciones div > h2 {
    font-size: 20px;
  }

  /*? un botón dentro de una celda de un grid con 1fr en la configuración de las filas o columnas, el botón ocupa todo el alto porque, de forma predeterminada, los elementos dentro de una celda tienden a expandirse para llenar el espacio disponible. Asi que para controlar esto, se puede establecer el alto del botón (en caso de la celda fuese 1fr)*/

  .recomendaciones button,
  a.search-button-recomendaciones {
    width: 80%;
  }

  /* ? Mas vendidos */

  .best-sellers ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-flow: column; /* Asegura el scroll horizontal */
    grid-template-rows: 1fr;
    gap: var(--space-min);
    width: 100%;
    overflow-x: scroll;
  }

  /* Evita que los elementos se reduzcan }*/
  /* .best-sellers ul li {
      flex: 0 0 auto;  */

  .best-sellers > * {
    color: red;
    /* height: 100%; */
  }
  .best-sellers ul li > article {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 2fr 1fr;
    height: 100%; */
    border: var(--border-red);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .best-sellers ul li article > h2 {
    text-align: left; /*alinear texto horizontalmente */
    font-size: var(--typo-sm);
    height: 100%;
  }

  /* ! NO SE COMO HACERLO CON UNIDADES RELATIVAS YA QUE AL USARLAS LAS ULTIMAS IMG DEL SCROLL SE REDUCEN */
  .best-sellers img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

  .acciones {
    display: none;
  }
}
