:root {
  --space-max: 5%;
  --space-min: 2%;
  --space-btn: 4%;
  --radius: 8px;
  --header-mobile-height: 15vh;
  /* tamaños fuentes */
  --typo-xs: 15px;
  --typo-sm: 16px;
  --typo-md: clamp(1.75rem, 1.36vi + 1.41rem, 2.5rem);
  --typo-xl: clamp(1.5rem, 1.54vi + 1.12rem, 2.34rem);
  --typo-xxl: 50px;
  --typo-h1-header: clamp(0.88rem, 0.45vi + 0.76rem, 1.13rem);
  /* colores */
  --header-hover: #d9e5e3;
  --btn-general: #ebaa20;
  --btn-especial: #d9017a;
  --items-background: #f7f8f9;
  --primary-color: black;
  --secondary-color: #004d43;
  --envio-color: #51c531;
  --precio-color: #b71c1c;
  --bottom-line: 0.2px solid rgb(140, 140, 140);
  --border: 2px solid red;
}

/* formateo general de estilos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* borramos viñetas de todas las li */
ul {
  list-style-type: none;
}

/* borramos el subrayado y el dolor de resaltado de todos los anchor */
a {
  text-decoration: none;
  color: var(--primary-color);
}

.ver-ficha,
.añadir,
.nav-bar-secondary,
.librerias,
.login span {
  display: none;
}

body {
  font-size: var(--typo-sm);
  width: 100vw;
  min-height: 100vh;
  background-color: #e9ebef;
}

/* mobile first */

header {
  background-color: antiquewhite;
  min-width: 96vw;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-mobile-height);
  z-index: 1;
  padding: var(--space-min);
}

.nav-bar-first {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  /* justify-items: center; no puedo usarlo porque se me descuadra la segunda fila */
  grid-template-areas:
    'menu logo cuenta cesta'
    'search search search search';
  gap: var(--space-min);
}

.nav-bar-first img {
  width: 2vw;
  min-width: 25px;
  /* aspect-ratio: 4/4; */
  /* background-color: plum; */
}
.ico-menu {
  grid-area: menu;
  justify-self: center;
  /* grid-column: 1 / 2;
  grid-row: 1 / 2; */
}

.logo {
  grid-area: logo;
  justify-self: start;
  /* grid-column: 2 /3;
  grid-row: 1 / 2; */
  /* width: 70px; */
}

.logo img {
  width: 125px;
}

.barra-busqueda {
  grid-area: search;
  border-top: 1px solid black;
  /* grid-column: 1 /5;
  grid-row: 2 / 3; */
  /* border: 2px solid red; */
}

.barra-busqueda form {
  /* border: 2px solid red; */
  display: flex;
  gap: var(--space-min);
  justify-content: space-between;
  padding: var(--space-min);
  margin-top: 0.5%;
  /* display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'input lupa';*/
}

.barra-busqueda form > input {
  /* grid-column: 1 /2;
  grid-row: 1 / 2; */
  /* grid-area: input; */
  flex: 4;
  border: none;
  background-color: antiquewhite;
  /* text-align: center; */
}

.barra-busqueda form > input::placeholder {
  text-align: center;
}

.barra-busqueda form button > img {
  /* grid-column: 2 /3;
  grid-row: 1 / 2; */
  /* grid-area: lupa; */
  flex: 1;
  padding: var(--space-max);
}

.login {
  grid-area: cuenta;
  justify-self: center;
  /* grid-column: 3 /4;
  grid-row: 1 / 2; */
}

.cesta {
  grid-area: cesta;
  justify-self: center;
  /* grid-column: 4 /5;
  grid-row: 1 / 2; */
}

/* .nav-bar-secondary,
.librerias,
.login span {
  display: none;
} */

main {
  width: 100%;
  margin-top: calc(
    var(--header-mobile-height) + var(--space-min)
  ); /*espacio para que sea sea visible todo el contenido del main y no quede solapado con el header*/
}

.banner-promo > img {
  width: 100%;
}

.promo {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: black;
  color: white;
  padding: var(--space-max);
  gap: 10px;
}

.promo h2,
p {
  line-height: 1.5;
}

.promo > h2 {
  font-size: var(--typo-md);
}

p {
  font-size: var(--typo-sm);
}

main button {
  width: 90%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding: var(--space-btn);
  background-color: var(--btn-general);
  border-radius: var(--radius);
  border: none;
  display: block;
  margin: var(--space-min) auto 0;
}

article {
  padding: var(--space-max);
}

article > img {
  width: 100%;
  aspect-ratio: 2/3;
}

/* ? banner-news */

.banner-news a > img {
  width: 100%;
}

.banner-news h2 {
  line-height: 1.5;
  letter-spacing: 1.2px;
  font-family: 'work sans';
  font-weight: 500;
}

.banner-news .btn-especial {
  background-color: var(--btn-especial);
  color: white;
}

section > h2 {
  font-family: 'inter';
  font-weight: 500;
  font-size: var(--typo-md);
  line-height: 1.8;
  letter-spacing: 1.5px;
  margin: 0 var(--space-min);
  border-bottom: var(--bottom-line);
}

/* ? recomendaciones */

a.search-button-recomendaciones {
  background-color: var(--btn-especial);
  border-radius: var(--radius);
  padding: var(--space-btn);
  color: white;
  margin-top: var(--space-min);
  text-align: center;
  display: block; /*anchor es un elemento inline, por lo tanto, para aplicarle padding y margin, debemos convertirlo a block*/
  letter-spacing: 2px;
}

/* ? best-sellers */

.best-sellers {
  line-height: 1.5;
}

p.tipo-tapa-libro {
  font-family: 'inter';
  font-size: var(--typo-xs);
  line-height: 2.5;
  border-bottom: var(--bottom-line);
}

h2.titulo-libro {
  font-family: 'inter';
  font-weight: 550;
  font-size: var(--typo-sm);
  margin-top: var(--space-min);
}

p.autor {
  font-family: 'inter';
  font-weight: 200;
  font-size: var(--typo-xs);
}

p.precio {
  font-family: 'inter';
  font-weight: 550;
  font-size: var(--typo-md);
  color: var(--precio-color);
}

p.envio {
  font-family: 'inter';
  font-weight: 500;
  font-size: var(--typo-sm);
  color: var(--envio-color);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* ? categorias-destacadas */

.categorias-destacadas li > img {
  display: block; /*para poder usar centrado automatico*/
  margin: auto;
  margin-top: var(--space-max);
}

.categorias-destacadas li > a {
  display: block;
  text-align: center;
  font-family: 'inter';
  font-size: var(--typo-xs);
  margin-top: var(--space-min);
  color: var(--secondary-color);
}

/*! footer */

/*? social-media */

.social-media ul {
  display: flex;
  gap: var(--space-min);
  justify-content: space-around;
  margin: var(--space-max);
}

.social-media img {
  width: 8vw;
}

/* ? nav */

.footer-nav {
  padding: var(--space-min);
  font-family: 'inter';
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-nav section {
  line-height: 2;
}

.footer-nav section > h3 {
  font-size: var(--typo-md);
  color: var(--secondary-color);
}

.footer-nav section > a {
  color: gray;
  font-size: var(--typo-sm);
}

footer > p {
  background-color: black;
  color: white;
  line-height: 2;
  text-align: center;
}
